/* Mobile Version */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  .hero-section .hero-section-items {
    grid-template-columns: 1fr;
  }
  .hero-section .hero-section-items h1 {
    font-size: 32px;
    line-height: 42px;
  }


  /* features section */
  .feature_section .features-section-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .feature_section .features-section-items:last-child(){
    width: 100%;
  }
}


/* Tablet  */

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .container {
      width: 95%;
    }
    .hero-section .hero-section-items h1 {
      font-size: 32px;
      line-height: 42px;
    }
  }
  